<EditForm Model="@Turnos" OnValidSubmit="@OnValidSubmit">
    <div class="form-field">
        <label>Nick del cliente:</label>
        <div>
            <InputText @bind-Value="@Turnos.Nick" />
            <ValidationMessage For="@(() => Turnos.Nick)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success">@TextoBoton</button>
    <DataAnnotationsValidator />

</EditForm>

@code {
    [Parameter] public Turnos Turnos { get; set; } = new Turnos();
    [Parameter] public String TextoBoton { get; set; } = "Guardar Cambios";
    [Parameter] public EventCallback OnValidSubmit { get; set; } 
}
